header{
    background-color: rgb(41, 107, 168);
}


footer{

  background-color: rgb(102, 156, 192);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    padding: 10px;
}

.Logo_Principal{
    margin: 15px 0px 15px 50px;
}
.texto{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    padding: 15px ;
    color: #110b0b;
}
.imgCentro{
    text-align: center;
}
.down{
    height: 100px;
    width: 200px;
    background-color: rgb(34, 101, 156);
    border: 1px solid #9c9c9c;
    border-radius: 12px;
    text-align: center;
    font: 18px Arial;
    margin: 15px;
    line-height: 100px;
    float: left;
    margin-left: 30px;
}
.down a{
    text-decoration: none;
    color: rgb(17, 17, 17);
}

.limpar{
    clear: left;
}


/* INICIA-SE O MENU*/
nav{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 1px;
    padding-bottom: 8px;
    text-align: center;
    height: 70px;
}
nav ul{
    height: auto;
    padding: 8px 0px;
    margin-left: 25px;
}
nav li{
    background-color: #000000;
    display: inline;
    padding: 10px 40px 10px 40px;
    margin: 10px;
    border: 1px solid #5e5656;
    border-radius: 20px;
    border-width: 1px;

}
li a{ 
    text-decoration:none;
    color: #ffffff;
    text-align: center;
}
li a:hover{
    color: rgb(236, 26, 26);
}
nav li:hover{
    background-color: #4e5455;
}
.nossaempresa{
    font-size: 30px;
    background-color: aquamarine;
}
.sobre{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: aquamarine;
    padding-left: 30px;
}

/* FIM DO MENU */

/* Responsivo Formulário*/





/* INICIA-SE O CÓDIGO RESPONSIVO */


/*Inicia Form*/

form{
    background-color: rgb(193, 221, 221);
}
.input{
    width: 300px;
    padding: 10px;
    color: black;
    margin-left: 20px;
    border: 1px solid;
    border-radius: 5px;
}

h3{
    padding-left: 20px;
    font-family: Arial;
}

textarea{

    height: 140px;
    max-width: 400px;
    max-height: 140px;
    max-lines: 20;
    margin-left: 20px;
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    color: #000000;
}
form label{
    margin-left: 20px;
    font-family: Arial;
    font-weight: bold;
}
.formbt{
    width: 200px;
    padding: 10px;
    color: #1d5fb4;
    margin-left: 20px;
    border: 1px solid;
    border-radius: 5px;
    background-color: #ffffff;
}
select{
    width: 330px;
    padding: 3pxpx;
    margin-left: 20px;
    font-size: 16px;
    height: 35px;
}
h2{
    text-align: center;
    font-family: Arial;
    padding-left: 20px;
}

/*Termina Form*/











@media all and (max-width: 1099px){
    body{
        background-color:rgb(37, 103, 226);
        width: 80%;
        margin: auto;
    }
    nav{
        height: 100%;
    }
    nav li{
        display: block;
        text-align: center;
        margin: 5px;
    }

    textarea{
        width: 80%;
    }


}

@media all and (min-width: 1100px){
    body{
        background-color: rgb(255, 255, 255);
        width: 1000px;
        margin: auto;
    }
    textarea{
        width: 400px;
    }
}
